* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #585449;
}

.background {
    background-image:  url(https://images.unsplash.com/photo-1565701964127-a3f37fdbb46b?q=80&w=1329&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    height: 700px;
    width: 100Į;
    background-position: center;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #D5C5AD;
    text-transform: uppercase;
}