* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #585449;
}

img {
      max-width: 100%; 
      height: auto; 
      margin: 0 auto;
      display: block;
    
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #D5C5AD;
    text-transform: uppercase;
}
